*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.8;
}
fonts{
  font-family: 'Catamaran', sans-serif;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Lora', serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.btn{
  padding: 12px 36px;
  background-color: #B89B5E;
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.btn:hover{
  background-color: #604f2b;
  transition: 0.3s;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
header{
  padding: 0 0 0px 0;
  background-size: 100%;
  color: #FFFFFF;
}
h1{
  font-family: 'Lora', serif;
  font-weight: 400;
}
header h3{
  color: #B89B5E;
  font-family: 'Lora', sans-serif;
  font-weight: 700;

}
nav{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}
.nav-a:hover{
  color: #B89B5E;
  transition: 0.3s;
}
ul{
  display: flex;
  list-style: none;
  align-items: center;
}
.section-numbers {
  background-color: #293138;
  color: #FFFFFF;
  padding: 120px 0;
}
.numbers-wrap{
  display: flex;
}
.section-numbers h3{
  font-family:'Lora', serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.section-numbers p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.num-flex{
  border: 1px solid #B89B5E;
  padding: 20px;
  width: 140px;
  height: 180px;
}
.section-who{
  background-color: #1A2530;
  color: #FFFFFF;
  text-align: center;
  padding: 36px 0 48px 0;
}
.section-who h2{
  font-family:'Lora', serif;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 1.8rem;
}
.section-who p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
.section-areas{
  color: #FFFFFF;
  background-color: #293138;
  text-align: center;
  padding: 32px 0 40px 0;
}
.section-areas h2{
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 12px 0;
}
.section-areas h3{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}
.section-areas p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}
.area-flex{
  display: flex;
}
.section-request{
  background-color: #1A2530;
  color: #FFFFFF;
  padding: 72px 12px;
  text-align: center;
}
.section-request h2{
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  margin-bottom: 24px;
  font-size: 1.8rem;
}
.section-team{
  background-color: #293138;
  color: #FFFFFF;
  text-align: center;
  padding: 36px 0 48px 0;
}
.section-team h2{
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  margin-bottom: 24px;
  font-size: 1.8rem;
}
.section-team >  div > p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 36px;
}
.section-team img{
  border-radius: 50%;
}
.section-team h4{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  margin: 12px 0;
  font-size: 13px;
}
.team-flex{
  display: flex;
}
.team-flex p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}
.section-saying{
  color: #FFFFFF;
  background-color: #1A2530;
  padding: 36px 0 48px 0;
  text-align: center;
}
.div-saying{
  width: 80%;
  margin: 0 auto;
}
.section-saying h2{
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  margin: 24px 0;
}
.saying-flex{
  display: flex;
}
.quote{
  color: #B89B5E;
  font-size: 1.6rem;
}
.quote-words{
  font-family: 'Nunito Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
}
figure{
  border: 1px solid #B89B5E;
  width: 480px;
  padding: 24px 64px;
}
figcaption{
  margin: 10px 0 4px 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}
.founder{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}
.section-prefooter{
  background: linear-gradient(rgba(26, 27, 48, 0.8), rgba(26, 27, 48, 0.8)),url('./images/prefooter.jpg');
  color: #FFFFFF;
  text-align: center;
}
.section-footer{
  background-color: #1A2530;
  color: #B89B5E;
  font-family: Nunito Sans;
  font-weight: 400;
  text-align: center;
  padding: 36px 0 48px 0;
}
/*-----------------FOR LARGE DEVICES-----------------*/
@media  (min-width: 1024px){
ul{
  flex-direction: row;
  gap: 24px;
}
header{
  background: linear-gradient(rgba(26, 27, 48, 0.8), rgba(26, 27, 48, 0.8)),url('./images/header.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.hamburger{
  display: none;
}
.header-wrap{
  margin: 2% auto 0px auto;
  width: 1020px;
  padding-bottom: 5%;
}
.header-wrap > a{
  margin: 12px 420px 0 420px;
}
nav{
  padding: 32px 48px;
}
h1{
  font-size: 48px;
  text-align: center;
}
.section-numbers{
  padding: 32px 0 32px 0;
}
.num-flex{
  width: 520px;
  padding: 20px 0;
}
.numbers-wrap{
  width: 570px;
  margin: 0 auto;
  gap: 32px;
}
.who-wrap{
  width: 45%;
  margin: 0 auto;
}
.section-areas img{
  margin-top: 32px;
}
.section-areas h3{
  margin: 16px 0;
}
.area-flex{
  width: 920px;
  margin: 0 auto;
  gap: 6%;
}

.team-flex{
  gap: 80px;
  margin: 0 auto;
  width: 700px;
}
.saying-flex{
  gap: 64px;
}
}
/*-----------------FOR SMALL DEVICES-----------------*/

@media (max-width: 1023px) and (min-width: 10px){
ul{
    display: none;
    flex-direction: column;
}
.btn{
  padding: 4px 16px;
  background-color: #B89B5E;
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}
nav{
  padding: 8px 24px 8px 24px;
  align-items: center;
  background-color: #F0F0F0;
} 
.header-wrap{
  background: linear-gradient(rgba(26, 27, 48, 0.8), rgba(26, 27, 48, 0.8)),url('./images/header.png');
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 32px 0 2% 0;
}
h1{
  font-size: 1.0rem;
  width: 240px;
  margin: 0 auto 24px auto;
}
.numbers-wrap{
  margin: 0 auto; 
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.who-wrap{
  padding: 12px;
}
.section-areas > div{
  padding: 0 12px;
}
.area-flex{
  flex-direction: column;
  gap: 24px;
  margin-top: 16px;
}
.section-team{
  padding: 20px 12px;
}
.team-flex{
  gap: 24px;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}
.saying-flex{
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
}